@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* --hover-color:rgb(226, 179, 179); */
/* --h1-font:'Advent Pro', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hover-color: #6200EE;
  --nav-bg:rgba(255,255,255,0.3);
  --nav-text: rgba(128, 128, 128, 1);
  --text-light: rgb(234, 213, 117);
  --bg-color: rgba(255, 255, 255, 0.774);
  --primary-color: #bb86fc;
  --secondary-color:#523680;
  --h1-font: 'Arial Black';
  --sub-heading-ff:Sfprodisplay,Arial,sans-serif;

}


body {
  font: 1.6rem 'Montserrat';
  background-color: var(--bg-color);
  color: black;
  overflow-x: hidden;
}

li a {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: var(--link-color);
}

h1 {
  font: 10rem var(--h1-font);
  color: var(--secondary-color);
  font-weight: 900;
}

h2 {
  color: var(--primary-color);
  font-weight: bold ;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/* ------------------------------------------------------------------------------------- */
.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 25px;
  background-color: var(--nav-bg);
  back-drop:blur(12px);
  z-index: 2;
 
}

.nav-logo{
  width:6rem;
  aspect-ratio: 1/1;
}
.nav-logo > img{
  width:100%;
  height:100%;
}
a > span{
  display: none;         /*              arrow symbol          */
}
.nav-lists ul  li {
  display: inline-block;
  margin-right: 17px;
  height: 100%;
  position: relative;
}

.nav-lists-links {
  height: 100%;
  text-transform: capitalize;
  color: var(--nav-text);
}

.nav-lists ul li a:hover::after,
.nav-lists ul li a:hover {
  /* color:rgba(32, 32, 33, 0.45); */
  color: var(--secondary-color);
  width: 100%;
  left: 0;
}

.nav-lists ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 3px;
  top: 100%;
  left: 50%;
  background-color: var(--secondary-color);
  transition: width .6s ease-in-out, left .6s ease-in-out;
}

.mobile-hanbuger-extrat-content
{
  display: none;
}

.menu-toggle {
  display: none;
}

.main-container {
  position: relative;
  padding: 2px 20px;
  margin-top: 80px;
  color: black;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--bg-color);
  overflow: hidden;
}

.sub__container {
  margin-top: 24px;
  position: relative;
  height: calc(100vh - 120px);
  gap: 8rem;
  align-items: center;
}

.landing__img {
  position: absolute;
  top: 10px;
  inset: 0;
  justify-content: center;
  transition: transform 0.1s ease-in-out;
  z-index: 2;
  height: calc(100vh - 75px);
 
}

.landing__img img {
  width: 400px;
}

.intro__h1 {

  width: 90vw;
  align-items: center;
}

.landingpage__links {
  width: 9%;
  margin-left: 15em;
  align-self: flex-start;
  z-index: 3;
}

.social-links li {
  display: inline-block;
}

.social-ls:hover a {
  cursor: pointer;
}

.intro-q {
  position: absolute;
  top: 52vh;
  left: 65vw;
}

.intro-q p {
  font-size: 2.1rem;
  color: rgba(0, 0, 0, 0.801);
}

.intro-q p::before {
  content: open-quote;
  margin-right: 5px;
  color: black;
}

.intro-q p::after {
  content: close-quote;
  margin-left: 5px;
  color: black;

}

.call_2_action {
  display: flex;
  gap: 1em;
  z-index: 2;
}

.landing__call2action,
.landing__call2action--black {
  font-size: 1.5rem;
  padding-top: .4em;
  padding-bottom: .4em;
  border-radius: 5px;
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  transition: background-color .6s ease-in, padding .7s ease-in;
}

.landing__call2action--black {

  box-shadow: inset 400px 0 0 var(--secondary-color);
  color: white;

}

.landing__call2action:hover,
.landing__call2action--black:hover {
  padding: .4em 2em;
}



.call_2_action .btn-blur:hover::before,
.call_2_action .btn-blur:hover::after {
  background-color: black;
}

/* ---------------------------------- About Section ----------------------------------------------- */
.about__section {
  margin-top:150px;
  width: 100%;
  padding-bottom: 2rem;
}
.about__section > p{
  font-size: 13px;
  font-weight: bold;
  font-family: var(--sub-heading-ff);
  color:var(--secondary-color);
  width: 100%;
  height: max-content;
  text-align: center;
  line-height: 22px;
}
.about__section h1 {
  width: 100%;
  text-align: center;

}

.about__section--content {
  max-width: 60%;
}

.about__section--container {
  max-width: 70%;
  margin-bottom:4rem;
}

.about__section--topContainer {
  align-items: center;
  padding-bottom: 5rem;
}

.about__section--social-links {
  margin-top: 2rem;
}

.about__section--skill {
  flex: 1;
  /* max-width: 40em; */
  min-width: 17em;
  height: 25em;

  text-align: center;
  border: 3px solid black;
  border-radius: 14px;
  padding: 2rem;
}


.about__section--skill>video {
  width: 160px;
}

.about__section--skill:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about__section--contact {
  background: linear-gradient(45deg, rgba(2, 2, 2, 0.9), rgba(50, 50, 50, 0.631)), url(image/contact_background.png);
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15rem 25rem;

}

.about__section--contact h2 {
  color: var(--primary-color);
}

.about__section--contact--call2action {
  margin-top: 4rem;
  justify-content: center;
}
.modal{
  background-color: red;
}
.about__section--contact--call2action button {
  border: 1px solid white;
  background: transparent;
}

.about__section--contact--call2action button a {
  color: white;
}
/* --------------------------------skill section------------------------------------------------------ */
.my_skills--container{
  padding: 5em;
}
.my_skills{
  grid-template-columns: repeat(3,1fr);
  row-gap: 2rem;
  
}
.my_skills div{
place-items: center;
}


/* --------------------------------projects------------------------------------------------- */
.main-in-project{
  margin-top: 80px;
}
.project-works{
  padding: 5px;
  grid-template-columns: repeat(2,1fr);
  gap: 2em;
}
.project-works div{

  border: 3px solid black;
  border-radius: 8px;
  min-width:80%;
  text-align: center;
  padding: 1.2rem;
}
.project-works div:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project-works div > img{
  width:300px;
  aspect-ratio: 1/1;
}
/* --------------------------------footer------------------------------------------------------ */
.footer {
  grid-template-columns: repeat(3,1fr) ;
  color: rgb(216, 199, 223);
  background-color: var(--secondary-color);
  padding: 5rem;
  column-gap: 2rem;
}

.footer__items{
  justify-self: center;
}
.footer__list li {
  margin-top: .4rem;
  margin-left: 5px;
  list-style: none;
}

.footer__list li a {
  text-transform: capitalize;
  /* color: gba(41, 41, 41, 0.856); */
}

.footer__social--links .social-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
/*  -------------------------------------------media queris ------------------------------ */

@media (max-width: 1024px) {
  .landing__img {
    right: 32%;
  }
}

@media (max-width: 481px) {
  h1 {

    font-size: 5rem
  }

  .menu-toggle {
   background: #fff;
    background-image: url(./svg/toogle.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width:50px;
    aspect-ratio: 1/1;
    padding: 0;
    border: 0;
  }
  .menu-toggle[aria-expanded ="true"]{
    background-image: url(./svg/X-icon.svg);
  }
  .nav-lists {
   display:flex;
   flex-direction: column;
   justify-content: space-between;
    background: #fff;
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 20px 20px;
    position: absolute;
    top: 80px;
    left: 0;
    border-top: 1px solid var(--secondary-color);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;

  }
  .nav-lists ul li{
    
    width: 100%;
    height: max-content;
    padding: .8rem 0 .8rem 1.6rem;
    margin: 0px 0px 15px 0px;
    border-bottom:1px solid var(--secondary-color);
    
  }
  .nav-lists ul li a:hover::after{
    display: none;
  }
  .nav-lists-links{
   position: relative;
    display: block;
    font-weight: bold;
    color: var(--secondary-color);
    width: 90%;
    height: fit-content;
    font-size: 2.8rem;
    text-align:left;
  }
  .nav-lists[data-visible ="true" ]
  {
    transform: translateX(0%);
  }
  a > span{
    display: block;
    position: absolute;
    top: 1vw;
    right:5vw;
  }

  .mobile-hanbuger-extrat-content
{
  display: block;
  margin-bottom: 60px;
}

  .sub__container {
    gap:2rem;
  }
  .landing__img {
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: calc(100vh - 130px);
    align-items: flex-end;
    z-index: 1;
  }

  .landing__img img {
    width: 325px;
  }

  .landingpage__links {
    display: none;
    width:90vw;
    margin: 0;
  }


  .intro-q {
    display: none;
  }

  .call_2_action {
    flex-wrap: wrap;
    width: 17.5rem;
    gap: 8px;
    order: 2;
    z-index: 1;
  }


  .about__section--skill {
    height: fit-content;
  }

  .about__section--container {
    min-width: 85%;
  }

  .about__section--contact {
    padding: 5rem 5rem;
  }

  .my_skills,
  .footer{
    grid-template-columns: repeat(1,1fr);
  }

  .project-works{
    grid-template-columns: repeat(1,1fr);
    row-gap: 2em;
  }
  .project-works div{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 20px 20px 4px;
  }
}


/* ------------------------------------------------------- DARK AND WHITE MODE ---------------------------------*/

/*
@media (prefers-color-scheme: dark) {
   :root{
    /*hover FF9800 primary : #3F51B5 
    --nav-bg:#121212;
    --bg-color:#121212;
    --primary-color:#bb86fc ;
    --hover-color: #FFD700;
    --darkmode-hover-color:#2196F3 ;
    --link-color:#FF5722;
   --darkmode-subtle-color:#757575; 

  } 
  body {
    color: #eee;
    background: #121212;
  }

  

  #lightModeVideo {
    display: none; /* Hide the light mode video 
  }
}


@media (prefers-color-scheme: light) {
  #darkModeVideo {
    display: none; /* Hide the dark mode video 
  }
} 
*/


/* --- ANIMATIONS --- */

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
